body {
    font-family: Arial, sans-serif;
    background-color: rgb(247, 209, 224);
    color: #243041;
    margin: 40px;
}

h1 {
    color: #c53e45;
}

h2 {
    color: #e87379;
}

h3 {
    color: #e87379;
}

.playlists {
    background-color: rgb(248, 232, 238);
    padding: 20px;
    border-radius: 12px;
    max-width: 300px;
}

.playlists li {
    margin-bottom: 10px;
}

a:link, a:visited {
    color:rgb(127, 122, 170);
}

a:hover {
    color:rgb(66, 57, 69);
}

.game {
    background-color: rgb(248, 232, 238);
    padding: 20px;
    border-radius: 12px;
}

.game li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}